<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Blog List</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

	<link rel="stylesheet" href="resources/materialize/css/materialize.min.css"/> 
	<script src="resources/materialize/js/materialize.min.js"/></script>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <style>
  
  



  
  
  </style>  
</head>
<body>
<div class="container" ng-repeat="b in blogPosts">
<div class="row" >
      <div class="col l8 s12 m5 offset-l3 offset-m2">
        
        <ul class="collection">
    <li class="collection-item avatar">
      <img src="images/images/b.postedby.username" alt="" class="circle">
   
   <a href="#/getBlogDetail/{{b.blogid}}">  
      <span class="title">
      {{b.title}}
      {{b.postedby.username}}
	  </span>
	</a> 
      <p>   {{b.postedby.username}}<br>
        {{b.postedon | date:'MM/dd/yyyy'}} 
      </p>
    </li>
    </ul>
    
      </div>
    </div>
        
        
        
        
        
    
    
    </div>    
</body>
</html>



