<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  <link rel="stylesheet" href="css/home.css" type="text/css">
<style>

.jumbotron
{
background: url(images/Facebook-friends.jpg) no-repeat;
background-size:cover;
height:1000px;
width:1500px;
margin-top:-20px;
margin-left:-50px;
}

h1
{
	font-family:  cursive;
	    color: #FFFFFF;
}

</style>
</head>
<body>  
 
 <div class="jumbotron">
  <div class="container" style="">
  <h1>PalsConnect</h1>
  <h4><strong> Share, Connect, Create, Inspire</strong></h4>
  
 <p >Create account...Connect with friends..</p>
 	
 	<button class="btn-md btn btn-primary  ">Sign Up</button>
 </div>
</div>


 
 
 
 
 
 
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>

</body>
</html>