<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Image</title>
	<link rel="stylesheet" href="resources/materialize/css/materialize.min.css"/> 

</head>
<body>
<div align="center">
<form method="post" action="http://localhost:8080/PalsConnectBE/upload" enctype="multipart/form-data">            <table border="0">
                <tr>
                    <td>Pick file #1:</td>
                    <td><input type="file" name="fileUpload" size="50" /></td>
                </tr>
             
                <tr>
                    <td> <input class="btn btn-medium waves-effect waves-light center-align" type="submit" value="Upload" name="action"></input>

                    </td>
                </tr>
                
                
            </table>
        </form>
    </div>
    
    
    
</body>
</html>