<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Image</title>
	<link rel="stylesheet" href="resources/materialize/css/materialize.min.css"/> 

</head>
<body>
<div align="center">
<form method="post" action="http://localhost:8080/PalsConnectBE/upload" enctype="multipart/form-data">            
                
<h3 class="center-align"> Upload Display Image</h3>

<div class="row col offset-l4 center-align">

                    <input type="file" name="fileUpload" size="50" /><br><br>
            
             
               
                    <input class="btn btn-medium waves-effect waves-light center-align" type="submit" value="Upload" name="action"></input>

    </div>                
             
                
                
            </table>
        </form>
    </div>
    
    
    
</body>
</html>