<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  <link rel="stylesheet" href="css/login.css" type="text/css">
  <style>

    body{
		background: url(images/Facebook-friends.jpg) center center fixed no-repeat;
		background-size:cover;
		
	}

</style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
           
            <div class="wrap">
                <p class="form-title">
                    LOGIN</p>

                <form class="login">
                <input type="text" ng-model=pal.username placeholder="Username" />
                <input type="password" ng-model=pal.password placeholder="Password" />
                <input type="submit" value="Login" ng-click='pallogin()' class="btn btn-success btn-sm" />
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>