<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

</head>
<body>

<div class="job">
			<div class="row">
    <form class="col s8">
      <div class="row">
					<div class="input-field col s12">
						<label for="title">Job Title</label>
						<input type="text"  ng-model=job.title>
					</div>
					<div class="input-field col s12">
						<label for="description">Job Description</label>
						<input type="text"  ng-model=job.description>
					</div>
					<div class="input-field col s12">
						<label for="skillsrequired">Skills Required</label>
						<input type="text"  ng-model=job.skillsrequired>
					</div>
					<div class="input-field col s12">
						<label for="salary">Salary</label>
						<input type="text"  ng-model=job.salary>
					</div>
					<div class="input-field col s12">
						<label for="location">Location</label>
						<input type="text"  ng-model=job.location>
					</div>
					<div class="input-field col s12">
						<label for="postedon">Posted On</label>
						<input type="text"  ng-model=job.postedon>
					</div>
				 <input type="submit"  ng-click="postjob()" class="btn btn-primary center-block" id="button">
				 </div>
			</form>
		</div>

</div>

</body>
</html>