<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<p class=" center-align">
 <input class="btn btn-medium waves-effect waves-light" type="submit" value="Details" name="action" ng-click="getdetails()"></input>
  <input class="btn btn-medium waves-effect waves-light" type="submit" value="Friends" name="action" ng-click="getfriends()"></input>
      <input class="btn btn-medium waves-effect waves-light" type="submit" value="blogs" name="action" ng-click="getblogs()"></input>
                     
                 </p>

</body>
</html>